rules_version = '2';

service cloud.firestore {
  match /webhookPetzi/{ticketNumber} {
    // this should only allow read on dataSets but disallow write from sources
    // it can be done that way because writing via firebase function "bypass" those rules, they are always permitted.
    // like that, without writing a function, my DB can only be read, not written into
    // also, everyone can read
    allow write : if false; 
    allow read: if true;
  }
}